@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .markdown {
    ol {
      @apply list-decimal ml-6;
    }
    ul {
      @apply list-disc ml-6;
    }

    p,
    ul,
    pre {
      @apply mb-4 last-of-type:mb-0;
    }
    li {
      @apply mb-2;
    }

    pre {
      @apply bg-highlight p-4 rounded-lg;
      code {
        @apply bg-transparent rounded-none p-0;
      }
    }

    code {
      @apply bg-highlight rounded-md p-[0.12em];
    }
  }
}

:root {
  --clr-primary: #000;
  --clr-background: #fff;
  --clr-contrast: #fff;
  --clr-highlight: #eee;
  --clr-divider: #bbb;
  --clr-user: #f5f5f5;
  --clr-assistant: #fff;
}

body {
  color: var(--clr-primary);
  background-color: var(--clr-background);
}

body.dark {
  --clr-primary: #eee;
  --clr-background: #000;
  --clr-contrast: #000;
  --clr-highlight: #333;
  --clr-divider: #666;
  --clr-user: #1f1f1f;
  --clr-assistant: #000;
}
