@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .markdown {
    @apply font-sans whitespace-pre-wrap;
    ol {
      @apply list-decimal ml-6;
    }
    ul {
      @apply list-disc ml-6;
    }

    p,
    ul,
    ol {
      @apply mb-4 last-of-type:mb-0;
    }

    li > p {
      display: inline;
    }

    pre {
      @apply mb-4;
    }

    pre {
      @apply bg-highlight p-4 rounded-lg;
      code {
        @apply bg-transparent rounded-none p-0;
      }
    }

    code {
      @apply bg-highlight rounded-md p-[0.12em];
    }
  }
}

:root {
  --clr-primary: #0c2e05;
  --clr-background: #fff;
  --clr-accent: #246113;
  --clr-highlight: #effee7;
  --clr-contrast: #fff;
  --clr-divider: #ccc;
}

body.dark {
  --clr-primary: #effee7;
  --clr-background: #000;
  --clr-accent: #67e536;
  --clr-highlight: #0c2e05;
  --clr-contrast: #000;
  --clr-divider: #666;
}

body {
  color: var(--clr-primary);
  background-color: var(--clr-background);
}
